<!DOCTYPE html>
<html>
<head>
    <title>Kotlin Programming Language</title>
    {% include 'inc/head.html' %}
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body class="page_index_next">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5P98"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<div class="global-layout">
    {% include 'inc/header.html' %}
</div>
<script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>
