.kotlin-code-examples-section {
  padding-bottom: 90px;
}

.kotlin-code-examples-section__title {
  margin-bottom: 30px;
}

.kotlin-code-examples-section .kotlin-overview-code-example-tabs {
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
}
